<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/App/App.js"></script>
</head>
<body>

    <input id="UserName" type="text" />
    <input id="Password" type="password" />
    <input id="Login" type="button" value="Login" />
    <input id="Logout" type="button" value="Logout" />
    <input id="Get" type="button" value="Get Data !" />


</body>
</html>